.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

.idea/compiler.xml

.idea/compiler.xml

.idea/misc.xml

app/app.iml

.idea/modules.xml

.idea/vcs.xml

.idea/gradle.xml
.idea/*.xml
app/app.iml
.idea/scopes/scope_settings.xml